.banner-title{
    font-size: 52px;
    text-transform: none;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}
.banner{
    text-align: center;
    margin-top: 80px;
}
.banner-description{
    color: white;
    font-size: 1.5rem;
}
.find-riders{
    width: 400px;
    height: 60px;
    border: 1px solid red;
    background-color: white;
}
.search-box{
    width: 350px !important;
}
