/*  font-family: 'Rajdhani', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.header-background{
    background-image: url(./image/bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
